.main{
    margin-left: 500px;
    margin-top: 200px;
}
.first{
    text-align: center;
    color: #80b8b0;
}
.second{
    display: grid;
    background-color: white;
    padding: 10px;
    width: 400px;
    height: 150px;
    
}
.third{
    display: flex;
    background-color: white;
    width: 400px;
    padding: 10px;
    margin-top: 15px;
    font-size: 13px;
    .second-p{
        color: #508ac7
    }
}
body {
    background-color: #dadada;

}
.email{
    margin-bottom: 15px;
    height: 30px;
    border-radius: 5px;

}
.password{
    margin-bottom: 15px;
    height: 30px;
    border-radius: 5px;

}
.first-p{
    margin-left: 140px;
}
.login{
    height: 30px;
    background-color: #80b8b0;
    color: white;
    border: 0;
    border-radius: 5px;
}
.main{
    width: 400px;
}